.barColor {
  height:1px;
  width:100%
}

.generalSection .barColor, #home .barColor, .barColor {
  background:#ff6c00;
  background:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmNmMwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjI1JSIgc3RvcC1jb2xvcj0iI2I2MDA5OCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzAwOWVlMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijc1JSIgc3RvcC1jb2xvcj0iI2E1YmEwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmYWJiMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background:-moz-linear-gradient(left, #ff6c00 0%, #b60098 25%, #009ee0 50%, #e3003e 75%, #fabb00 100%);
  background:-webkit-gradient(linear, left top, right top, color-stop(0%, #ff6c00), color-stop(25%, #b60098), color-stop(50%, #009ee0), color-stop(75%, #e3003e), color-stop(100%, #fabb00));
  background:-webkit-linear-gradient(left, #ff6c00 0%, #b60098 25%, #009ee0 50%, #e3003e 75%, #fabb00 100%);
  background:-o-linear-gradient(left, #ff6c00 0%, #b60098 25%, #009ee0 50%, #e3003e 75%, #fabb00 100%);
  background:-ms-linear-gradient(left, #ff6c00 0%, #b60098 25%, #009ee0 50%, #e3003e 75%, #fabb00 100%);
  background:linear-gradient(to right, #ff6c00 0%, #b60098 25%, #009ee0 50%, #e3003e 75%, #fabb00 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff6c00', endColorstr='#fabb00', GradientType=1)
}
