<div class="row">

  <div class="col-sm-12">
    <h2 id="tituloDesa" style="padding-left: 40px">Actores</h2>
  </div>

</div>

<div class="row"  style="margin-left: 20px">
  <div class="col-sm-2" *ngFor="let info of resultadosDesa"  style="padding-left: 30px; margin-right: 100px; margin-top: 20px">
    <div class="card" style="width: 200px;">
      <img class="card-img-top" src={{info.foto}} alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{info.nombres}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">Apellidos: {{info.apellidos}}</h6>
        <button type="button" [routerLink]="['/actor', info.id]" (click)="datosPelicula()" class="btn btn-primary">Detalle</button>
      </div>
    </div>
  </div>
</div>
