<div class="row">

  <div class="col-sm-6"></div>

  <div class="col-sm-6">

    <ul class="nav justify-content-end" style="margin-right: 20px">
      <li class="nav-item">
        <button type="button" class="btn btn-light" style="padding-top: 15px">
          <mat-icon [matBadge]="items.length" matBadgeColor="warn" routerLink="/carrito">shopping_cart</mat-icon>
          <!--<span id="mat-badge-content-3" class="mat-badge-content mat-badge-active">0</span>-->
        </button>
      </li>
      <li class="nav-item">
        <button type="button" class="btn btn-light" style="text-align: center; padding-top: 15px" (click)="validarCookie()">
          <mat-icon matBadgeColor="warn">account_circle</mat-icon>
          {{nombreUsuario}}
        </button>
      </li>
    </ul>
  </div>
</div>
